click==7.1.2
evdev==1.4.0
Flask==2.0.2
Flask-WTF==0.15.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pynput==1.7.5
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.2
python-xlib==0.31
pyusb==1.2.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
six==1.16.0
Werkzeug==2.0.2
WTForms==2.3.3
