{% extends 'base.html' %}
{% block content %}

<script src="static/jquery.min.js"></script>
<style type="text/css">

#DIV1{
    width:300px;
    padding:2px;
    //border:2px red solid;
    float:left;
}

#DIV2{
    width:450px;
    padding:2px;
    //border:2px green solid;
    float:left;
}

#DIV3{
    width:350px;
    padding:2px;
    //border:2px green solid;
    float:left;
}
#DIV4{
    width:350px;
    padding:2px;
    //border:2px green solid;
    float:left;
}
#DIV5{
    width:350px;
    padding:2px;
    //border:2px green solid;
    float:left;
}
#DIV6{
    width:350px;
    padding:2px;
    //border:2px green solid;
    float:left;
}

</style>
    <form name="LED_NUM_Form" action="LED_NUM" method="post" onsubmit="">

        <h1>
                {{ form.color_switcher.label() }}
            </h1>
                <h2>
                    {{ form.color_switcher() }}
                </h2>
        </div>
        <div id="DIV2">
            <h2>
                {{ form.led_brightness_fields.label() }}
                {{ form.led_brightness_fields() }}
            </h2>
            {{ form.rgb_value_submit }}
        </div>


        <div style="clear:both;"></div>
        <!--<h1>
                {{ form.led_current_gain_switcher.label() }}
            </h1>
        <div id="DIV3">
            <h2>
                {{ form.led_current_gain_switcher() }}
            </h2>
        </div>-->
        <div id="DIV4">
            <h2>
                <td>
                {{ form.led_red_gain_fields.label() }}
                {{ form.led_red_gain_fields() }}
                </td>
                <td>
                {{ form.led_green_gain_fields.label() }}
                {{ form.led_green_gain_fields() }}
                </td>
                <td>
                {{ form.led_blue_gain_fields.label() }}
                {{ form.led_blue_gain_fields() }}
                </td>
                {{ form.current_gain_submit }}
            </h2>
        </div>
        <div style="clear:both;"></div>
        <!--<h1>
            {{ form.led_select_fields.label() }}
        </h1>
        <div id="DIV5">
            <h2>
                {{ form.choice_switcher()}}
            </h2>
        </div>
        <div id="DIV6">
            <h2>
                {{ form.led_select_fields.label() }}
                {{ form.led_select_fields() }}
            </h2>
        </div>
        <div style="clear:both;"></div>-->
        <!--<h1>
            {{ form.led_mode_switcher.label() }}
            {{ form.led_mode_switcher() }}
        </h1>
            <h2>
                <td>
                    {{ form.led_total_width_fields.label() }}
                    {{ form.led_total_width_fields() }}
                    {{ form.led_total_height_fields.label() }}
                    {{ form.led_total_height_fields() }}
                </td>
            </h2>
            <h2>
                <td>
                    {{ form.led_area_startx_fields.label() }}
                    {{ form.led_area_startx_fields() }}
                    {{ form.led_area_starty_fields.label() }}
                    {{ form.led_area_starty_fields() }}
                </td>
            </h2>
            <h2>
                <td>
                    {{ form.led_area_width_fields.label() }}
                    {{ form.led_area_width_fields() }}
                    {{ form.led_area_height_fields.label() }}
                    {{ form.led_area_height_fields() }}
                </td>
            </h2>-->
    <p>

        <!--{{ form.submit }}-->
    </p>
    </form>


{% endblock %}

